<i class="icon-device smlDropdown-toggle"><b class="caret pull-right"></b></i>
<div class="smlDropdown-menu">
<div class="smlDropdown-inner">

	<label class="checkbox"> <input type="checkbox" value="all">All Devices</input></label>
	<label class="checkbox"> <input type="checkbox" value="iPhone">iPhone</input></label>
	<label class="checkbox"> <input type="checkbox" value="iPad">iPad</input></label>
	<label class="checkbox"> <input type="checkbox" value="iMac">iMac</input></label>
	<hr />
	<div class="clearfix"><a id="filter-device-apply" class="btn btn-info btn-small pull-right">Apply</a></div>
</div>
</div>