<i class="icon-price smlDropdown-toggle"><b class="caret pull-right"></b></i>
<div class="smlDropdown-menu">
	<div class="smlDropdown-inner">
			<a href="#" class="tag btn ">Free </a>
			<a href="#" class="tag btn ">Under $1</a>
			<a href="#" class="tag btn ">Under $5</a>
			<hr>
			<div id="filter-priceRange-box">
				<h4>Price Range</h4>
				<form class="form-inline">
				Min <input type="text" class="input-mini"></input>
				Max <input type="text" class="input-mini"></input>
				</form>
			</div>
			<hr>
			<p class="checkbox"><input type="checkbox" />In-app Purchase</p>
			<hr />
			<div class="clearfix"><a id="filter-category-apply" class="btn btn-info btn-small pull-right">Apply</a></div>    

	</div>
</div>