<i class="icon-calendar smlDropdown-toggle"><b class="caret pull-right"></b></i>
<ul class="smlDropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a tabindex="-1" href="#">All Time</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Past 24 hours</a></li>
    <li><a tabindex="-1" href="#">Past 7 days</a></li>
    <li><a tabindex="-1" href="#">Past 30 days</a></li>
</ul>