<i class="icon-rating  smlDropdown-toggle"><b class="caret pull-right"></b></i>
<div class="smlDropdown-menu">
	<div class="smlDropdown-inner">
		<div id="filter-ratingsCountRange-box">
			<h4>Rating Range</h4>
			<div>From <span id="filter-rating-low-hint"></span></div>
			<div id="filter-rating-low"></div>
			<div>to <span id="filter-rating-high-hint"></span></div>
			<div id="filter-rating-high"></div>
		</div>
		<hr>
		<div id="filter-ratingsCountRange-box">
			<h4>Rating Count</h4>
			<form class="form-inline">
				Min <input type="text" class="input-mini"></input>
				Max <input type="text" class="input-mini"></input>
			</form>
		</div>
		<hr>
		<div class="clearfix"><a id="filter-tag-apply" class="btn btn-info btn-small pull-right">Apply</a></div>
		
	</div>
</div>