<i class="icon-price smlDropdown-toggle"><b class="caret pull-right"></b></i>
<div class="smlDropdown-menu">
<div class="smlDropdown-inner">
	<h4>Your Budget in US Dollars</h4>
	<label class="checkbox"> <input type="checkbox" value="0-5">0-5k</input></label>
	<label class="checkbox"> <input type="checkbox" value="5-10">5k-10k</input></label>
	<label class="checkbox"> <input type="checkbox" value="10-20">10k-20k</input></label>
	<label class="checkbox"> <input type="checkbox" value="over20">over 20k</input></label>
	<hr />
	<div class="clearfix"><a id="filter-device-apply" class="btn btn-info btn-small pull-right">Apply</a></div>
</div>
</div>