
<i class="icon-app smlDropdown-toggle"><b class="caret pull-right"></b></i>
<div class="smlDropdown-menu">
<div class="smlDropdown-inner">
			<h4>Apps Count</h4>
			<form class="form-inline">
				Min <input type="text" class="input-mini"></input>
				Max <input type="text" class="input-mini"></input>
			</form>
		<hr>
		<div class="clearfix"><a id="filter-app-apply" class="btn btn-info btn-small pull-right">Apply</a></div>
</div>
</div>