Sort by<b class="caret pull-right"></b>
<ul class="smlDropdown-menu">
    <li><a tabindex="-1" href="#">Featured</a></li>
    <li><a tabindex="-1" href="#">Most Recent</a></li>
    <li><a tabindex="-1" href="#">Recently Updated</a></li>
    <li><a tabindex="-1" href="#">Popularity</a></li>
</ul>