
        	<div id="filter-box" class="clearfix">
        		<div id="filter-category" class="filter-btn">
        			<select data-placeholder="Categories" class="chzn-select" id="filter-category-select">
        			<% for (i = 0; i< categories.length; i++) { 
        				 if (categories[i].children.length == 0) { %>
        					<option> <%= categories[i].name %> </option>
        				 <% } else {  %>
        					<optgroup lable="<%= categories[i].name %>">
        						<% for (j = 0; j < categories[i].children.length; j++) { %>
        							<option> <%= categories[i].children[j].name %> </option>
        						<% } %>
        					</optiongroup>
        				<%  } %>
        			<% } %>
        			</select>
			        
                </div><!-- /category -->
        		<div id="filter-feature" class="filter-btn">
			        <select data-placeholder="Features" class="chzn-select" id="filter-feature-select">
			          <% for ( i=0; i< features.length; i++ ) { %>
			          	 <option> <%= features[i].name %> </option>
			          <% } %>
			        </select>
        		</div><!-- /feature -->

	        	<div id="filter-price" class="filter-btn">
	        			<i class="icon-price"></i>
	        	</div><!-- /price -->  
	        	<div id="filter-rating" class="filter-btn">
	        			<i class="icon-rating"></i>
	        	</div><!-- /rating -->    
	        	<div id="filter-time" class="filter-btn dropdown">
	        			<i class="icon-calendar dropdown-toggle"><b class="caret pull-right"></b></i>
	        			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						    <li><a tabindex="-1" href="#">All Time</a></li>
						    <li><a tabindex="-1" href="#">Today</a></li>
						    <li><a tabindex="-1" href="#">This Week</a></li>
						    <li><a tabindex="-1" href="#">This Month</a></li>
						    <li class="divider"></li>
						    <li><a tabindex="-1" href="#">Separated link</a></li>
						  </ul>
				        
	        	</div><!-- /time -->   
	        	<div id="filter-lan" class="filter-btn">
	        			<i class="icon-globe"></i>
	        	</div><!-- /place -->
	        	<div id="filter-tag" class="filter-btn">
	        			<i class="icon-tags dropdown-toggle"><b class="caret pull-right"></b></i>
	        			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	        				<li><input type="text" style="margin: 1px 7px;padding: 4px 20px 4px 5px;"></input></li>
						    <li><a href="#"> Education & Kids </a></li>
						    <li><a href="#">  Kids </a></li>
						    <li><a href="#">  Education</a> </li>
						    <li><a href="#">  Book</a></li>
						    <li><a href="#">  Fun </a></li>
	        			</ul>
	        	</div><!-- /tag -->    
	        	<div id="filter-device" class="filter-btn dropdown">
	        			<i class="icon-device dropdown-toggle"><b class="caret pull-right"></b></i>
	        			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						    <li><a tabindex="-1" href="#">All Devices</a></li>
						    <li class="divider"></li>
						    <li><a tabindex="-1" href="#">iPhone 5</a></li>
						    <li><a tabindex="-1" href="#">iPhone 4</a></li>
						    <li><a tabindex="-1" href="#">iPhone</a></li>
						    <li class="divider"></li>
						    <li><a tabindex="-1" href="#">iPad 4</a></li>
						    <li><a tabindex="-1" href="#">iPad</a></li>
						    <li class="divider"></li>
						    <li><a tabindex="-1" href="#">iMac</a></li>
						  </ul>
	        	</div><!-- /device -->

        		<div id="filter-keyword" class="filter-btn form-search">
					    <input type="text" class="search-query">
					    <i class="icon-search"></i>
        		</div><!-- /keyword -->  
        		<div id="filter-advanced" class="filter-btn">
        			<span class="dropdown-toggle">Advanced Filter<b class="caret pull-right"></b></span>
        			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						    <li><a tabindex="-1" href="#">Advanced-1</a></li>
						    <li><a tabindex="-1" href="#">Advanced-2</a></li>
						    <li><a tabindex="-1" href="#">Advanced-3</a></li>
						    <li><a tabindex="-1" href="#">Advanced-4</a></li>
					</ul>
        		</div>  <!-- /advanced -->        		
        	</div><!--/#filter-box -->
        	<div id="filter-summary">
        		<div>Most Popular  Free  Games updated within  last 30 days  + <a class="btn-tag btn btn-small">For Kids</a><a class="btn-tag btn btn-small">Education</a></div>
        	</div><!--/#filter-summary -->
