<div id="developer-<%= id %>">
<ul class="breadcrumb">
	  <li><a href="/">Home</a> <span class="divider">/</span></li>
	  <li><a href="/">Apps Search</a> <span class="divider">/</span></li>
	  <li class="active"><%= name %></li>
</ul>
<%= name %>
</div>
