<h1>Edit waterfall_app</h1>

<form id="edit-waterfall_app" name="waterfall_app">
  <div class="actions">
    <input type="submit" value="Update Waterfall apps" />
  </div>

</form>

<a href="#/index">Back</a>