
<div id="waterfallApps" class="clearfix"> 
</div>
<nav id="page-nav">
  <a href="assets/data/app.json?page=2"></a>
</nav>
<div id="toolbox">
<div id="trashAllDisliked" class="toolbox-btn"><i class="icon-trash"></i> Hide all Disliked Apps</div>
<div id="scrollToTop" class="toolbox-btn" ><i class="icon-arrow-up"></i> Scroll to Top</div>
</div>
