<h1>New waterfall_app</h1>

<form id="new-waterfall_app" name="waterfall_app">
  <div class="actions">
    <input type="submit" value="Create Waterfall apps" />
  </div>

</form>

<a href="#/index">Back</a>