<div id="loading" class="loading newbox" style="display: block;">
	<div class="r header clearfix">
		<div class="brand"><img src="/assets/img/logo.png" alt="Tappollo"></div>
		<div class="loading-msg"></div>
	</div>
	<div class="tagline clearfix" padding="5px 20px">
		A revolutionary way of finding apps!
	</div>
	
</div>