
	<form class="form-horizontal">
	  <fieldset>
	  	<legend>Sign up</legend>
	    <div class="control-group">
		    <label class="control-label" for="inputEmail">Email</label>
		    <div class="controls">
		      <input type="text" id="inputEmail" placeholder="Email">
		    </div>
		  </div>
	    <div class="control-group">
		    <label class="control-label" for="inputFirstName">First Name</label>
		    <div class="controls">
		      <input type="text" id="inputFirstName" placeholder="First Name">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputLastName">Last Name</label>
		    <div class="controls">
		      <input type="text" id="inputLastName" placeholder="Last Name">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputPassword">Password</label>
		    <div class="controls">
		      <input type="password" id="inputPassword" placeholder="Password">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputPassword2">Confirm Password</label>
		    <div class="controls">
		      <input type="password" id="inputPassword2" placeholder="Password">
		    </div>
		  </div>
		  <div class="control-group">
		    <div class="controls">
		      <button type="submit" class="btn btn-info">Sign up</button>
		    </div>
		  </div>				  
	</fieldset>
	</form>