<h1>Listing apps</h1>

<div id="waterfallApps"> </div>

<br />
<script type="text/javascript">
  $(function() {
	
	var apps = $.ajax({ url: 'assets/data/app.json', dataType: 'text json',  success: function(data) {
		window.router = new AppFinder.Routers.WaterfallAppsRouter({waterfallApps: data.apps});
    	Backbone.history.start();
	} });
	
    
  });
</script>
<%= link_to 'New App', new_app_path %>
