

/* ==========================================================================
   Author's custom styles
   
   colors:
   =logo
   #b52806
   =yellow
   #e7a136
   =green
   #978e43
   red
   #9b2f10
   dark
   #731115
   ========================================================================== */
.p10{padding:10px}
.p15{padding:15px}
.p20{padding:20px}

.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}

.pl10{padding-left:20px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}

.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}

.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}

.none{display: none}

.btn {
	border-color: #bcbcbc;
	border-radius: 3px;
}
.btn-danger {
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#9b2f10),to(#BD362F));
	background-image: -webkit-linear-gradient(top,#9b2f10,#BD362F);
	background-image: -o-linear-gradient(top,#9b2f10,#BD362F);
	background-image: linear-gradient(to bottom,#9b2f10,#BD362F);
	background-image: -moz-linear-gradient(top,#9b2f10,#BD362F);
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] ,.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
	background: #9b2f10;
	color:#fff;
}
.btn-info {
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#d8651d),to(#b52806));
	background-image: -webkit-linear-gradient(top,#d8651d,#b52806);
	background-image: -o-linear-gradient(top,#d8651d,#b52806);
	background-image: linear-gradient(to bottom,#d8651d,#b52806);
	background-image: -moz-linear-gradient(top,#d8651d,#b52806);
	border-color: #d8651d;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background: #c73b0b;
}
.btn-free {
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#d8651d),to(#b52806));
	background-image: -webkit-linear-gradient(top,#d8651d,#b52806);
	background-image: -o-linear-gradient(top,#d8651d,#b52806);
	background-image: linear-gradient(to bottom,#d8651d,#b52806);
	background-image: -moz-linear-gradient(top,#d8651d,#b52806);
	border-color: #d8651d;
	color:#fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
}
.btn-free:hover, .btn-free:active, .btn-free.active, .btn-free.disabled, .btn-free[disabled] {
	background: #c73b0b;
}
.smlDropdown {
	position: relative;
}
.smlDropdown-menu {
	position: absolute;
	background:#fff;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	border-radius: 0 5px 5px 5px;
	z-index: 999;
	min-width: 150px;
	padding:5px 0;
	display: none;
	font-size: 12px;
}
.smlDropdown-inner {
	padding:10px;
	line-height: 2em;
}
.smlDropdown-inner .chzn-container-single .chzn-single{
	font-size: 12px;
}
.smlDropdown-menu li > a {
	display: block;
	padding:5px 15px;

}
.smlDropdown-menu li.divider {
	border-top:1px solid #efefef;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a,
.smlDropdown-menu li > a:hover, .smlDropdown-menu li > a:focus, .smlDropdown-submenu:hover > a {
	background-color: #9b2f10;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#b52806),to(#9b2f10));
	background-image: -webkit-linear-gradient(top,#b52806,#9b2f10);
	background-image: -o-linear-gradient(top,#b52806,#9b2f10);
	background-image: linear-gradient(to bottom,#b52806,#9b2f10);
	background-image: -moz-linear-gradient(top,#b52806,#9b2f10);
	color:#fff;	
	text-shadow: 1px 1px 0 #340608;
}

.ui-slider-range {
	background-color: #9b2f10;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#b52806),to(#9b2f10));
	background-image: -webkit-linear-gradient(top,#b52806,#9b2f10);
	background-image: -o-linear-gradient(top,#b52806,#9b2f10);
	background-image: linear-gradient(to bottom,#b52806,#9b2f10);
	background-image: -moz-linear-gradient(top,#b52806,#9b2f10);
}
.ui-slider-handle {
	background-color: whiteSmoke;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#E6E6E6));
	background-image: -webkit-linear-gradient(top,white,#E6E6E6);
	background-image: -o-linear-gradient(top,white,#E6E6E6);
	background-image: linear-gradient(to bottom,white,#E6E6E6);
	background-image: -moz-linear-gradient(top,white,#E6E6E6);
	background-repeat: repeat-x;
	border-radius: 2px;
	border:1px solid #cdcdcd;	
}
.ui-slider {
	background:#efefef;
	border:1px solid #dedede;
	margin:0 10px;
}
.icon-app {
	background-position: -456px -72px;
}

body {
	margin:85px 0 0;
	background: url(img/main-bg.jpg);
	
	font-family: Verdana,Helvetica,Arial,sans-serif;
}

a {
	color:#5b5b5b;
}
a:hover,a:active {
	color:#404040;
	text-decoration: none;
}
ul,li {
	list-style: none;
	padding:0;
	margin:0;
}
h4 {
	font-weight: normal;
	color: #333;
	font-size: 14px;
}

/* ==========================================================================
   Header style
   ========================================================================== */
#site-header-inner {
	background-image: url(img/header-bg.png);
	border-bottom: none;
	
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1),0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1),0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
#logo {
	padding-right: 40px;
}
.main-nav-item,.profile-item {
	line-height: 30px;
}
#main-search {
	padding-top: 8px;
	padding-left:20px;
}
#main-search>.icon-search {
	position: relative;
	z-index: 2;
	top:2px;
	
	opacity: 0.5;
}
#main-search-query {
	position: relative;
	left:-28px;
	z-index: 1;
	
	background-color: #DAD9D7;
	width: 100px;
	padding:3px 14px 2px 30px;
	
	color: #58595B;

}
#main-search-query.active{
	background-color: #FFF;
	width:206px;
}
/* ==========================================================================
   stage style
   ========================================================================== */
   .stage-view {
	   display: none;
   }
   .stage-view.active {
	   display: block;
   }
/* ==========================================================================
   Recommended style
   ========================================================================== */

#recommended-wrap {
	float: left;
	position: relative;
	left: 50%;
}
#recommended {
	float: left;
	position: relative;
	right:50%;
}
.recommended-item {
	float: left;
	display: inline-block;
	list-style: none;
	margin:0 20px;
}
.recommended-item>a {
	text-shadow: 1px 1px 0 #ededed;
}
.recommended-item>a:hover,.recommended-item>a:active {
	color:#b52806;
}
/* ==========================================================================
   Highlight style
   ========================================================================== */

#highlight {
	margin-top:-10px;
}
#highlight-btn {
	padding:10px 58px 10px 25px;
	position: relative;
}
#highlight-btn:hover,#highlight-btn:active,#highlight-btn.over {
	background: #b52806;
	border-color: #b52806;
	color: #FFF;
	text-shadow: 1px 1px 0 #4c0c10;
}
#highlight-icon{
	width:38px;
	height:40px;
	display: inline-block;
	overflow: hidden;
	
	position: absolute;
	right: 15px;
	top:0;
	
	background:url(img/highlight-btn-bg.png) no-repeat left 0px;
}
#highlight-btn:hover>#highlight-icon,#highlight-btn.over>#highlight-icon {
	background-position: left -40px;
}
#highlight-box {

	background-color: #b52806;
	color: #FFF;
	position: relative;
	top:-5px;
	margin-right: -10px;
	overflow: hidden;
	
}
.hlb-sp1,.hlb-sp2 {
	display: inline-block;
	float: left;
	border-color:#b52806;
	border-style:solid;
	border-width: 1px 0 0 1px;
	margin-right: -1px;
	overflow: hidden;
	height: 100px;
	position: relative;
	cursor: pointer;
}
.hlb-sp1:hover,.hlb-sp2:hover {
	background-color:#b52806;
}
.hlb-h2 {height:200px;}
.hlb-alpha{}
.hlb-omega {border-right-width: 0;}
.hlb-sp1 {width:20%;}
.hlb-sp2 {width:40%;}

#highlight-box p {margin-bottom: 0;position:relative;}
.hlb-kicker{color:#eabcaf;font-size: 10px;}
.hlb-title{color:#FFF;font-size: 18px;text-transform: uppercase;padding-bottom: 5px;}
.hlb-subtitle{color:#fff;font-size:14px;text-transform: uppercase;}
.hlb-desc{color:#eabcaf;font-size: 12px;}

.hlb-h2 .hlb-kicker{font-size: 12px;padding-bottom: 10px;}
.hlb-h2 .hlb-title{font-size: 40px;padding-bottom: 20px;}
.hlb-h2 .hlb-subtitle{font-size:18px;padding-bottom: 10px;vertical-align: bottom;}
.hlb-h2 .hlb-desc{font-size: 14px;}
.hlb-icon {
	border-radius: 6px;
	float: left;
}
.hlb-imgbg {
	position: absolute;
	right:0;
	bottom:0;
}
.hlb-list i,.hlb-app i,.hlb-search i {
	position: absolute;
	right:15px;
	bottom: 15px;
	opacity: 0.6;
}
.hlb-app {
	background-color: #731115;
}
.hlb-search {
	background-color: #5d1015;
}
.hlb-list {
	background-color:#731115;
}

/* ==========================================================================
   Filter Bar style
   ========================================================================== */
#filter {
	margin-bottom: 20px;
}
#filter-box{
	background: #FCFCFC;
	background: -moz-linear-gradient(rgba(252,252,252,0.8), rgba(235,235,235,0.8));
	background: -webkit-linear-gradient(rgba(252,252,252,0.8), rgba(235,235,235,0.8));
	background: -o-linear-gradient(rgba(252,252,252,0.8), rgba(235,235,235,0.8));
	background: linear-gradient(rgba(252,252,252,0.8), rgba(235,235,235,0.8));	
	
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: #CACACA;
	border-radius: 3px 3px 0 0;
	margin:10px 0 0;

	box-shadow:1px 0px 1px #aba9a7;
	
}
.filter-btn {
	float: left;
	text-align: center;
	display:inline-block;
	position: relative;
	padding:0 10px;
	line-height:40px;
	height: 40px;
	border-right: 1px solid rgba(192,192,192,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
		
	cursor: pointer;
}
.filter-btn:hover,.filter-btn:active,.filter-btn:focus,.filter-btn.open {
	background: -moz-linear-gradient(rgba(235,235,235,0.8), rgba(252,252,252,1));
	background: -webkit-linear-gradient(rgba(235,235,235,0.8), rgba(252,252,252,1));
	background: -o-linear-gradient(rgba(252,252,252,0.4), rgba(235,235,235,0.8));
	background: linear-gradient(rgba(252,252,252,0.4), rgba(235,235,235,0.8));		

	box-shadow:0 1px 0px #F6F6F6 inset;

}
.filter-btn:first-child{
	border-left: none;
}
.filter-btn:last-child{
	border-right: none;
	float: right;
}
.filter-btn>[class^="icon-"],.filter-btn>[class*=" icon-"]{
	width: 50px;
	height:100%;
	margin:0;
	vertical-align: middle;
	background-repeat:no-repeat;
	background-position:center center;
	font-style: normal;
}
.filter-btn .caret {
	margin-top:20px;
	margin-left:5px;
	border-top-color:#777;
}
.filter-btn .dropdown-toggle {
	height: 100%;
	display: block;
}
.filter-btn .dropdown-menu {
	text-align: left;

}
.filter-btn .smlDropdown-menu {
	left:-1px;
	top:39px;
	text-align: left;
}
.icon-calendar {
	background-image:url(img/icon-calendar.png);
}
.icon-rating {
	background-image:url(img/icon-rating.png);
}
.icon-device {
	background-image:url(img/icon-device.png);
	width:47px;
}
.icon-tags {
	background-image:url(img/icon-tags.png);
}
.icon-badges {
	background-image:url(img/icon-badges.png);
}
.icon-price {
	background-image:url(img/icon-price.png);
}

.icon-globe {
	background-image:url(img/icon-globe.png);
}
.filter-btn>.icon-search {
	background-position:-48px 0;
	width:14px;
	height: 14px;
	position: absolute;
	right: 20px;
	top:14px;
}
.chzn-container {
	height: 100%;
}
#filter-category {
	width:180px;
}
#filter-category-select {
	width:200px;
}

#filter_category_select_chzn,#filter_feature_select_chzn,#filter_calendar_select_chzn {
	width: 200px;
}
#filter-feature {
	width:180px;
}
#filter-feature-select {
	width:200px;
}
#filter-calendar-select {
	width:60px;
}
#filter-tag .smlDropdown-menu {
	width:250px;
}
#filter-tag .filter-tag-link {
	margin:5px 2px;
	font-size: 12px;
}
#filter-price .smlDropdown-menu {
	width: 250px;
}

#filter-price .tag.active{
	background-color: #c73b0b;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
	color: #FFF;
}
#filter-priceRange,#filter-rating-low-hint,#filter-rating-high-hint {
	color:#e7a136;
	text-transform: capitalize;
}
#filter-rating .smlDropdown-menu {
	width: 250px;
}
.chzn-drop {
	min-width:200px!important;
}
.chzn-search input {
	min-width: 165px!important;
}

#filter-keyword .search-query {
	width:411px;
}
#filter-summary {
	padding: 10px 20px;
	
	background-color:rgba(250,250,250,0.7);
	background: -moz-linear-gradient(#f0f0ef, #ededed);
	background: -webkit-linear-gradient(#f0f0ef, #edede);
	background: -o-linear-gradient(#f0f0ef, #edede);
	background: linear-gradient(#f0f0ef, #edede);		
	
	border-width: 0;
	border-color: #CACACA;
	border-style: solid;
	border-radius: 0 0 3px 3px;
	
	box-shadow:1px 1px 1px #aba9a7;
	
	color: #909090;
	text-shadow: 1px 1px 0 #FFF;
	font-size: 12px;

	
}
.btn-tag {
	margin-left: 10px;
	display: inline-block;
	color: #565656;
	text-shadow: 1px 1px 0 #FFF;

}
.btn-tag:after {
	content:" x";
}


.chzn-container-single .chzn-single {
	border:none;
	background:none;
	box-shadow: none;
	font-size: 14px;
	color:#666;
}
.chzn-container-single .chzn-single div b,
.chzn-container-single .chzn-single abbr,.chzn-container-multi .chzn-choices .search-choice .search-choice-close,
.chzn-container-single .chzn-search input {
	background-image: url(img/chosen-sprite.png);
	padding:0;
	
}
.chzn-container-active .chzn-single-with-drop {
	border:none;
	background:none;
	
}
.chzn-drop {
	top:30px!important;
	border-left:none!important;
	border-right-color: 2px!important;
	border-right-color: #fff!important;	
	text-align: left;
}
/* ==========================================================================
   Card style
   ========================================================================== */
#waterfallApps {
	margin:0 -10px 20px;
}
.card {
	width:190px;
	padding:15px 15px 0;
	float: left;
	position: relative;
	display: inline-block;
	margin:10px 9px;
	background:#FFF;
	border-radius: 5px;
	box-shadow:1px 1px 2px #aba9a7;
}
.card .media {
	background:#f6f6f3;
	margin:-15px -15px 0 -15px;
	padding:15px 13px;
	border-radius: 5px 5px 0 0;
}
.card-footer {
	background:#f6f6f3;
	margin:10px -15px 0 -15px;
	padding:0 13px 15px;
	border-radius:  0 0 5px 5px;
	border-top:1px solid #efefef;

}
.card .app-name {
	width:155px;
	cursor: pointer;
}
.card .btn-price {
	width:43px;
}
.card .btn-install {
	width:130px;
}
.card .app-developer,
.card .app-ratings-count{ 
	display: inline-block;
	font-size: 10px;
	line-height: 14px;
	color:#a8a8a8;
}

.card .app-ribbonContainer {
	position: absolute;
	z-index: 2;
	top: -1px;
	right: -1px;
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 4px 0 4px 0;
}
.card .app-ribbon {
	position: absolute;
	z-index: 2;
	top: 10px;
	right: -38px;
	width: 125px;
	height: 22px;
	padding-top: 3px;
	text-align: center;
	font-size: 11px;
	color: #524D4D;
	background-color: whitesmoke;
	overflow: hidden;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.card .app-ribbon.em {
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#d8651d),to(#b52806));
	background-image: -webkit-linear-gradient(top,#d8651d,#b52806);
	background-image: -o-linear-gradient(top,#d8651d,#b52806);
	background-image: linear-gradient(to bottom,#d8651d,#b52806);
	background-image: -moz-linear-gradient(top,#d8651d,#b52806);
	color: #FFF;	
	text-shadow: 1px 1px 0 rgba(0,0,0,0.4);

}

.card .app-developer {margin-top:5px;}

.card .app-name { margin-bottom: 10px; color:#40090c;line-height: 1.4em;}
.card .app-icon { margin-right: 10px;}
.card .media-body { width:120px; float: left;}

.card .mosaic-block { margin:15px 0 10px;}
.card .app-share-btn {
	position: relative;
}
.card .menu-share {
    position:absolute;
    z-index: 5;
    background-color: #9b2f10;
    padding:10px;
    font-size:12px;
    display:none;
    bottom:22px;
	left: -1px;
	width: 60px;
	border-radius: 5px 5px 5px 0;
	text-align: left;
}

.card .menu-share a {
	color:#FFF;
}

.card .app-screenshot{ cursor: pointer;}
.card .app-short-description{ position:absolute; display:none;bottom: 0px;width:190px; background-color:transparent;cursor: pointer;}
.card .app-category { font-size: 10px;margin:5px 0 5px;}


.tag,.badge  {
	display: inline-block;
	line-height: 18px;
	font-size: 10px;
	font-weight: normal;
	color: #767676;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
	background: rgba(0, 0, 0, 0.06);border-radius: 3px;
	padding:2px 8px 2px 5px;
	margin:5px 3px;
}
.detail .tag, .detail .badge {
	font-size: 12px;
}

.detail .badge {
	background-color: #ebeece;
	color: #7d742f;
}
.card .tag i, .card .badge i,.detail .tag i, .detail .badge i {
		vertical-align: bottom;

}
.tag:hover,.detail .tag:hover{
	background-color: #c73b0b;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
	color: #FFF

}
.badge:hover,.detail .badge:hover{
	background-color: #edb230;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
	color: #FFF

}

.popup .social-share{position: fixed;left: 50%;top: 162px;width: 120px;margin-left: 500px;}


.detail a {
	color:#c73b0b;
}
.detail a:hover,.detail a:active {
	color:#978e43;
}
.detail .app-icon {margin-right: 15px;}
.detail .img-rounded {
	border-radius: 10px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}
.detail .app-name {color: #474747; font-size: 23px;line-height: 1em;margin-bottom: 10px;padding-top:10px;}
.detail .app-developer,
.detail .app-category 
{
	font-size: 12px;
	line-height: 1.8em;
	color:#a8a8a8;
}
.detail .app-category a {
	color:#5b5b5b;
}
.detail .app-category a:hover {
	color:#978e43;

}

.detail .media {
	margin-bottom: 10px;
}
.detail .app-long-description,.detail .app-short-description { 
	font-size: 13px;
	line-height: 1.5em;
	word-wrap: break-word;
	margin-bottom: 15px;
}
.detail .app-screenshot {
	position: relative;
	padding:10px;
	border-radius: 5px;
	background-image: url(img/header-bg.png);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}
.detail .btn-install {
	width: 80%;
}
.detail .span-price,.span-install {
	display: inline-block;
	margin:-5px 0;
	padding:5px 0;
}
.detail .span-price {
	width:33%;
	border-right: 1px solid rgba(255,255,255,0.2);
}
.detail .span-install {
	width:66%;
	border-left: 1px solid rgba(0,0,0,0.1);
}
.detail-secendary-title {
	margin-top:20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dedede;
	font-size: 18px;
}
#detail-primary {
	float: left;
	display: inline-block;
	width: 64%;
	padding: 5px 1%;
}
#detail-secondary {
	float: right;
	display: inline-block;
	width: 31%;
	padding: 5px 1%;

}
#detail-related .detail-app{
	padding: 10px 0;
}
.detail-like {
	margin-right: 15px;
}
.detail-like p,.detail-pin p {
	font-size: 10px;
	color:#999;
	margin-bottom: 0;
	text-transform: uppercase;
	margin-top:20px;
}
.detail-like-count {
	background:url(img/icon-heart.png) no-repeat left center;
	padding-left:32px;
}
.detail-pin-count {
	background:url(img/icon-pin.png) no-repeat left center;
	padding-left:32px;
}
.detailPage {
	background-color: #FFF;
	border-radius: 5px;
	padding:20px;
	margin-bottom: 30px;
}
#infscr-loading {position:absolute;bottom:30px;}


.tcontent {
	height: 100%;
	overflow-y: scroll;
}
.rslides1_nav.next {
	border-radius: 30px 0 0 30px;
}
.rslides1_nav.prev {
	border-radius: 0 30px 30px 0;
}

.loading{
position: fixed;
top: 100px;
text-align: center;
background-color: white;
z-index: 50;
width: 540px;
min-height: 100px;
}
.newbox{
	position: relative;
border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
margin: auto;
border: none;
background-color: white;
box-shadow: 0px 0px 5px #888;
}
.loading .header{
border-radius: 5px 5px 0px 0px;
-moz-border-radius: 5px 5px 0px 0px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
border-bottom: 1px solid #B4D4FF;
-webkit-box-shadow: #E5F1FF 0px 1px;
-moz-box-shadow: #e5f1ff 0px 1px;
box-shadow: #E5F1FF 0px 1px;
position: relative;
background-color: #F6FCFF;
text-align: center;
margin: 0px auto;
width: 80%;
}
.loading .loading-msg{
	float: left;
margin-top: 9px;
margin-left: 5px;
font-size: 24px;
color: #395069;
font-weight: bold;
padding:10px;
}
.loading .brand{
	float:left;
	margin-top: 12px;
}
.loading input {
	border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
padding: 5px;
width: 317px;
border: 1px solid #D9D9D9;
height: 36px;
line-height: 36px;
font-size: 21px;
}
.loading  button.submit{
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	background: #ED6700;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF6F00), to(#ED6700));
	background: -moz-linear-gradient(top, #FF6F00, #ED6700);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6f00', endColorstr='#ed6700', GradientType=0);
	-webkit-box-shadow: 0 1px 1px #994300,inset 0 1px 0 #FFBB87;
	-moz-box-shadow: 0 1px 1px #994300,inset 0 1px 0 #ffbb87;
	box-shadow: 0 1px 1px #994300,inset 0 1px 0 #FFBB87;
	border: 1px solid #E36300;
	height: 43px;
	line-height: 43px;
	text-align: center;
	color: white;
	line-height: 40px;
	font-size: 18px;
	width: 172px;
}
.loading .tagline
{
	color: #395069;
	height: 54px;
	line-height: 57px;
	font-size:24px;
	text-align:center;
}
footer {
	padding:10px 40px;
}

#login,#register {
	border-radius: 5px;
	border:1px solid #dedede;
	background:#FFF;
	margin:0 auto 30px;
	width:600px;
	padding:30px 40px;
}

.triangle-border{
position: relative;
padding: 15px;
margin: 1em 0 3em;
border: 5px solid #5A8F00;
color: #333;
background: white;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
