

/* ==========================================================================
   Author's custom styles
   
   colors:
   =logo
   #b52806
   =yellow
   #e7a136
   =green
   #978e43
   red
   #9b2f10
   dark
   #731115
   ========================================================================== */
.p10{padding:10px}
.p15{padding:15px}
.p20{padding:20px}

.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}

.pl10{padding-left:20px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}

.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}

.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}

.none{display: none}

.btn {
	border-color: #bcbcbc;
	border-radius: 3px;
}
.btn-danger {
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#9b2f10),to(#BD362F));
	background-image: -webkit-linear-gradient(top,#9b2f10,#BD362F);
	background-image: -o-linear-gradient(top,#9b2f10,#BD362F);
	background-image: linear-gradient(to bottom,#9b2f10,#BD362F);
	background-image: -moz-linear-gradient(top,#9b2f10,#BD362F);
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] ,.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
	background: #9b2f10;
	color:#fff;
}
.btn-info {
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#d8651d),to(#b52806));
	background-image: -webkit-linear-gradient(top,#d8651d,#b52806);
	background-image: -o-linear-gradient(top,#d8651d,#b52806);
	background-image: linear-gradient(to bottom,#d8651d,#b52806);
	background-image: -moz-linear-gradient(top,#d8651d,#b52806);
	border-color: #d8651d;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background: #c73b0b;
}


body {
	margin:85px 0 0;
	background: url(img/main-bg.jpg);
	
	font-family: Verdana,Helvetica,Arial,sans-serif;
}

a {
	color:#5b5b5b;
}
a:hover,a:active {
	color:#404040;
	text-decoration: none;
}

/* ==========================================================================
   Header style
   ========================================================================== */
#site-header-inner {
	background-image: url(img/header-bg.png);
	border-bottom: none;
	
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1),0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1),0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
#logo {
	padding-right: 40px;
}
.main-nav-item,.profile-item {
	line-height: 30px;
}
#main-search {
	padding-top: 8px;
	padding-left:20px;
}
#main-search>.icon-search {
	position: relative;
	z-index: 2;
	top:2px;
	
	opacity: 0.5;
}
#main-search-query {
	position: relative;
	left:-28px;
	z-index: 1;
	
	background-color: #DAD9D7;
	width: 100px;
	padding:3px 14px 2px 30px;
	
	color: #58595B;

}
#main-search-query.active{
	background-color: #FFF;
	width:206px;
}

/* ==========================================================================
   Recommended style
   ========================================================================== */

#recommended-wrap {
	float: left;
	position: relative;
	left: 50%;
}
#recommended {
	float: left;
	position: relative;
	right:50%;
}
.recommended-item {
	float: left;
	display: inline-block;
	list-style: none;
	margin:0 20px;
}
.recommended-item>a {
	text-shadow: 1px 1px 0 #ededed;
}
.recommended-item>a:hover,.recommended-item>a:active {
	color:#b52806;
}
/* ==========================================================================
   Highlight style
   ========================================================================== */

#highlight {
	margin-top:-10px;
}
#highlight-btn {
	padding:10px 58px 10px 25px;
	position: relative;
}
#highlight-btn:hover,#highlight-btn:active,#highlight-btn.over {
	background: #b52806;
	border-color: #b52806;
	color: #FFF;
	text-shadow: 1px 1px 0 #4c0c10;
}
#highlight-icon{
	width:38px;
	height:40px;
	display: inline-block;
	overflow: hidden;
	
	position: absolute;
	right: 15px;
	top:0;
	
	background:url(img/highlight-btn-bg.png) no-repeat left 0px;
}
#highlight-btn:hover>#highlight-icon,#highlight-btn.over>#highlight-icon {
	background-position: left -40px;
}
#highlight-box {

	background-color: #b52806;
	color: #FFF;
	position: relative;
	top:-15px;
	
}
.hlb-sp1,.hlb-sp2 {
	display: inline-block;
	float: left;
	border-color:#b52806;
	border-style:solid;
	border-width: 1px 0 0 1px;
	margin-right: -1px;
	overflow: hidden;
	height: 100px;
	position: relative;
	cursor: pointer;
}
.hlb-sp1:hover,.hlb-sp2:hover {
	background-color:#b52806;
}
.hlb-h2 {height:200px;}
.hlb-alpha{}
.hlb-omega {border-right-width: 0;}
.hlb-sp1 {width:20%;}
.hlb-sp2 {width:40%;}

#highlight-box p {margin-bottom: 0;position:relative;}
.hlb-type{color:#eabcaf;font-size: 10px;}
.hlb-title{color:#FFF;font-size: 18px;text-transform: uppercase;padding-bottom: 5px;}
.hlb-subtitle{color:#fff;font-size:14px;text-transform: uppercase;}
.hlb-desc{color:#eabcaf;font-size: 12px;}

.hlb-h2 .hlb-type{font-size: 12px;padding-bottom: 10px;}
.hlb-h2 .hlb-title{font-size: 40px;padding-bottom: 20px;}
.hlb-h2 .hlb-subtitle{font-size:18px;padding-bottom: 10px;vertical-align: bottom;}
.hlb-h2 .hlb-desc{font-size: 14px;}
.hlb-icon {
	border-radius: 6px;
	float: left;
}
.hlb-imgbg {
	position: absolute;
	right:0;
	bottom:0;
}
.hlb-list i,.hlb-app i,.hlb-search i {
	position: absolute;
	right:15px;
	bottom: 15px;
	opacity: 0.6;
}
.hlb-app {
	background-color: #731115;
}
.hlb-search {
	background-color: #5d1015;
}
.hlb-list {
	background-color:#731115;
}

/* ==========================================================================
   Filter Bar style
   ========================================================================== */

#filter-box{
	background: #FCFCFC;
	background: -moz-linear-gradient(rgba(252,252,252,0.8), rgba(235,235,235,0.8));
	background: -webkit-linear-gradient(rgba(252,252,252,0.8), rgba(235,235,235,0.8));
	background: -o-linear-gradient(rgba(252,252,252,0.8), rgba(235,235,235,0.8));
	background: linear-gradient(rgba(252,252,252,0.8), rgba(235,235,235,0.8));	
	
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: #CACACA;
	border-radius: 3px 3px 0 0;
	margin:10px 0 0;

	box-shadow:1px 0px 1px #aba9a7;

	
}
.filter-btn {
	float: left;
	text-align: center;
	display:inline-block;
	position: relative;
	padding:0 10px;
	line-height:40px;
	height: 40px;
	border-right: 1px solid rgba(192,192,192,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
		
	cursor: pointer;
}
.filter-btn:hover,.filter-btn:active {
	background: -moz-linear-gradient(rgba(235,235,235,0.8), rgba(252,252,252,1));
	background: -webkit-linear-gradient(rgba(235,235,235,0.8), rgba(252,252,252,1));
	background: -o-linear-gradient(rgba(252,252,252,0.4), rgba(235,235,235,0.8));
	background: linear-gradient(rgba(252,252,252,0.4), rgba(235,235,235,0.8));		

	box-shadow:0 1px 0px #F6F6F6 inset;

}
.filter-btn:first-child{
	border-left: none;
}
.filter-btn:last-child{
	border-right: none;
}
.filter-btn>[class^="icon-"],.filter-btn>[class*=" icon-"]{
	width: 50px;
	height:100%;
	margin:0;
	vertical-align: middle;
	background-repeat:no-repeat;
	background-position:center center;
	font-style: normal;
}
.filter-btn .caret {
	margin-top:20px;
	margin-left:5px;
	border-top-color:#777;
}
.filter-btn .dropdown-toggle {
	height: 100%;
	display: block;
}
.filter-btn .dropdown-menu {
	text-align: left;

}
.icon-calendar {
	background-image:url(img/icon-calendar.png);
}
.icon-rating {
	background-image:url(img/icon-rating.png);
}
.icon-device {
	background-image:url(img/icon-device.png);
	width:47px;
}
.icon-tags {
	background-image:url(img/icon-tags.png);
}
.icon-price {
	background-image:url(img/icon-price.png);
}
.icon-globe {
	background-image:url(img/icon-globe.png);
}
.filter-btn>.icon-search {
	background-position:-48px 0;
	width:14px;
	height: 14px;
	position: absolute;
	right: 20px;
	top:14px;
}
.chzn-container {
	height: 100%;
}
#filter-category {
	width:180px;
}
#filter-category-select {
	width:200px;
}
#filter_category_select_chzn,#filter_feature_select_chzn,#filter_calendar_select_chzn {
	width: 200px;
	left: -10px;
}
#filter-feature {
	width:180px;
}
#filter-feature-select {
	width:200px;
}
#filter-calendar-select {
	width:60px;
}
.chzn-drop {
	min-width:200px!important;
}
.chzn-search input {
	min-width: 165px!important;
}

#filter-keyword .search-query {
	width:100px;
}
#filter-summary {
	padding: 10px 20px;
	
	background-color:rgba(250,250,250,0.7);
	background: -moz-linear-gradient(#f0f0ef, #ededed);
	background: -webkit-linear-gradient(#f0f0ef, #edede);
	background: -o-linear-gradient(#f0f0ef, #edede);
	background: linear-gradient(#f0f0ef, #edede);		
	
	border-width: 0;
	border-color: #CACACA;
	border-style: solid;
	border-radius: 0 0 3px 3px;
	
	box-shadow:1px 1px 1px #aba9a7;
	
	color: #909090;
	text-shadow: 1px 1px 0 #FFF;
	font-size: 12px;

	
}
.btn-tag {
	margin-left: 10px;
	display: inline-block;
	color: #565656;
	text-shadow: 1px 1px 0 #FFF;

}
.btn-tag:after {
	content:" x";
}


.chzn-container-single .chzn-single {
	border:none;
	background:none;
	box-shadow: none;
	font-size: 14px;
	color:#666;
}
.chzn-container-single .chzn-single div b,
.chzn-container-single .chzn-single abbr,.chzn-container-multi .chzn-choices .search-choice .search-choice-close,
.chzn-container-single .chzn-search input {
	background-image: url(img/chosen-sprite.png);
	
}
.chzn-container-active .chzn-single-with-drop {
	border:none;
	background:none;
	
}
.chzn-drop {
	top:30px!important;
	border-left:none!important;
	border-right-color: 2px!important;
	border-right-color: #fff!important;	
	text-align: left;
}
/* ==========================================================================
   Card style
   ========================================================================== */
.waterfall {
	margin:20px -10px;
}
.card {
	width:190px;
	padding:15px 15px;
	float: left;
	position: relative;
	display: inline-block;
	margin:10px 9px;
	background:#FFF;
	border-radius: 5px;
	box-shadow:1px 1px 2px #aba9a7;
}
.card .media {
	background:#f6f6f3;
	margin:-15px -15px 0 -15px;
	padding:15px 13px;
	border-radius: 5px 5px 0 0;
}
.card .btn-price {
	width:43px;
}
.card .btn-install {
	width:68px;
}
.card .app-developer,
.card .app-ratings-count{ 
	display: inline-block;
	font-size: 10px;
	line-height: 14px;
	color:#a8a8a8;
}

.card .app-developer {margin-top:5px;}

.card .app-name { margin-bottom: 10px; color:#40090c;line-height: 1.4em;}
.card .app-icon { margin-right: 10px;}
.card .media-body { width:120px; float: left;}

.card .mosaic-block { margin:15px 0 10px;}
.card .app-share-btn {
	position: relative;
}
.card .menu-share {
    position:absolute;
    z-index: 5;
    background-color: #9b2f10;
    padding:10px;
    font-size:12px;
    display:none;
    bottom:22px;
	left: -1px;
	width: 60px;
	border-radius: 5px 5px 5px 0;
	text-align: left;
}

.card .menu-share a {
	color:#FFF;
}

.card .app-screenshot{ cursor: pointer;}
.card .app-short-description{ position:absolute; display:none;bottom: 0px;width:190px; background-color:transparent;cursor: pointer;}
.card .app-category { font-size: 10px;margin:10px 0 0;}


.card .tag, .card .badge,.detail .tag, .detail .badge  {
	display: inline-block;
	line-height: 18px;
	font-size: 10px;
	font-weight: normal;
	color: #767676;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
	background: rgba(0, 0, 0, 0.06);border-radius: 3px;
	padding:2px 8px 2px 5px;
	margin:5px 3px;
}
.detail .tag, .detail .badge {
	font-size: 12px;
}

.detail .badge {
	background-color: #ebeece;
	color: #7d742f;
}
.card .tag i, .card .badge i,.detail .tag i, .detail .badge i {
		vertical-align: bottom;

}
.card .tag:hover,.detail .tag:hover{
	background-color: #c73b0b;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
	color: #FFF

}
.card .badge:hover,.detail .badge:hover{
	background-color: #edb230;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
	color: #FFF

}
.popup { display: block; overflow:scroll;}
.popup .social-share{position: fixed;left: 50%;top: 162px;width: 120px;margin-left: 540px;}

.detail a {
	color:#c73b0b;
}
.detail a:hover,.detail a:active {
	color:#978e43;
}
.detail .app-icon {margin-right: 15px;}
.detail .img-rounded {
	border-radius: 10px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}
.detail .app-name {color: #474747; font-size: 23px;line-height: 1em;margin-bottom: 10px;padding-top:10px;}
.detail .app-developer,
.detail .app-category 
{
	font-size: 12px;
	line-height: 1.8em;
	color:#a8a8a8;
}
.detail .app-category a {
	color:#5b5b5b;
}
.detail .app-category a:hover {
	color:#978e43;

}

.detail .media {
	margin-bottom: 10px;
}
.detail .app-long-description,.detail .app-short-description { 
	font-size: 13px;
	line-height: 1.5em;
	word-wrap: break-word;
	margin-bottom: 15px;
}
.detail .app-screenshot {
	position: relative;
	padding:10px;
	border-radius: 5px;
	background-image: url(img/header-bg.png);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}
.detail .btn-group {
	width: 100%;
}
.detail .btn-price {
	width:43%;
}
.detail .btn-install {
}

#detail-primary {
	float: left;
	display: inline-block;
	width: 64%;
	padding: 5px 1%;
}
#detail-secondary {
	float: right;
	display: inline-block;
	width: 31%;
	padding: 5px 1%;

}
#detail-related .detail-app{
	padding: 10px 0;
}

#infscr-loading {position:absolute;bottom:30px;}


.tcontent {
	height: 100%;
	overflow: scroll;
}
.rslides1_nav.next {
	border-radius: 30px 0 0 30px;
}
.rslides1_nav.prev {
	border-radius: 0 30px 30px 0;
}
