<div class="accordion-heading">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionApps" href="#addNewApp">
        add new app
  </a>
</div>
<div id="addNewApp" class="accordion-body collapse">
  <div class="accordion-inner">
    <div class="control-group">
		<label  for="inputAppName">Name of the App</label>
		<input type="text" id="inputAppName" class="input-xlarge" placeholder="" value="" >
	</div>
    <div class="control-group">
    	<label  for="inputAppUrl">Link to the App (include http://) </label>
  		<input type="text" id="inputAppUrl" class="input-xlarge" placeholder="">
    </div>
  </div>
</div>