<fieldset>
<legend>Your Company</legend>
<div class="control-group">
  <label  for="inputCompanyName">Name of the Company</label>
  <input type="text" id="inputCompanyName" class="input-xlarge" placeholder="">
</div>
<div class="control-group">
  <label  for="selectCountry">Country where you're located</label>
  <select id="selectCountry" class="input-xlarge">
  	<option value="US">US</option>
  </select>
</div>
<div class="control-group">
  	<label for="textareaCompanyDescription">Enter a short description of the company</label>
  	<textarea id="textareaCompanyDescription" rows="10" class="input-xlarge"> </textarea> 
</div>
<div class="control-group">
  	<label for="inputCompanyUrl">Company's URL, including http://</label>
    <input type="text" id="inputCompanyUrl" class="input-xlarge"></input>
</div>
<div class="control-group">  
    <label for="inputCompanyTwitter">Company's Twitter profile URL (optional)</label>
    <input type="text" id="inputCompanyTwitter" class="input-xlarge"></input>
</div>
</fieldset>
<fieldset>

<div class="control-group">
	<label for="inputAppFee">Your typical fee per App</label>
	<div class="input-prepend input-append">
	  <span class="add-on">$</span>
	  <input class="span2" id="inputAppFee" type="text">
	  <span class="add-on">K</span>
	</div>
</div>
</fieldset>
<fieldset>
	<legend>Your Apps</legend>
	<div class="accordion" id="accordionApps">
    </div>
</fieldset>
<div class="form-actions">
	<button type="submit" id="saveCompany" class="btn btn-info pull-right btn-large" >Save your profile</button>
</div>