<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AppFinder</title>
  <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="assets/mosaic.css">
    <link rel="stylesheet" href="assets/tinybox.css">
    <link rel="stylesheet" href="assets/chosen.css" />
    <link rel="stylesheet" href="assets/jquery-ui-min.css" />    
    <link rel="stylesheet" href="assets/application.css">
    <link rel="stylesheet" href="assets/responsiveSlides.css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<header class="navbar navbar-fixed-top">
        	<div id="site-header-inner" class="navbar-inner">
	        	<div class="container">
	        		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				    </a>
      
		        	<div id="logo" class="brand">
		        		<img src="/assets/img/logo.png" alt="Tappollo" >
		        	</div><!--/#logo -->

	        		<ul id="main-nav" class="nav nav-collapse collapse">
		        		<li class="main-nav-item active">
		        			<a href="#">
		        				Apps
		        			</a>
		        		</li><!--/li -->
		        		<li class="main-nav-item">
		        			<a href="#">
		        				Developer
		        			</a>
		        		</li><!--/li -->
	        		</ul><!--/#main-nav -->
	        		
					<form id="main-search" class="navbar-search pull-right">
						<i class="icon-search"></i>
					  <input type="text" id="main-search-query" class="search-query" placeholder="Search">
					</form><!--/#main-search -->
						
						
	        		<ul id="profile" class="nav pull-right">
		        		<li class="profile-item">
		        			<a href="#">
		        				register
		        			</a>
		        		</li><!--/li -->
		        		<li class="profile-item">
		        			<a href="#">
		        				login
		        			</a>
		        		</li><!--/li -->
	        		</ul><!--/#profile -->

	        	
	        	</div><!--/.container -->
	        	
        	</div><!--/.navbar-inner -->
        </header><!--/header -->
        
        
        <div id="apps-content">
	        <a id="highlightsAnchor" style="display:none"</a> <!--/# highlight box-->
	        <a id="filterAnchor" style="display:none"></a><!--/#filter -->
	
	        <div id="main" class="container">
		        <div id="primary" class="waterfall clearfix">
		        		<%= yield %>
		        </div><!--/#primary -->
		        
		        <div id="secondary">
		        </div><!--/#secondary -->
	
	        </div><!--#main-->
	        

            <hr>

            <footer>
                <p>&copy; Company 2012</p>
            </footer>

        </div> <!-- /#apps-content -->
        
<script type="text/javascript">
  $(function() {
  	loadingView = new AppFinder.Views.LoadingView();
	$("#loading").html(loadingView.render().el);
	var filters;
	
	$.ajax( {url: 'assets/data/filter.json', dataType: 'text json', success: function(data) {
		filters = data.filters;	
	}});
	
	var apps;
	$.ajax({ url: 'assets/data/app.json', dataType: 'text json',  success: function(data) {
		apps = data.apps;
	}});
	
	var highlights;
	$.ajax({ url: 'assets/data/highlights.json', dataType: 'text json',  success: function(data) {
		highlights = data;
	}});
	
	
	isLoaded = setInterval( function() {
		if(filters != null && typeof(filters) != 'undefined' && 
		   apps != null && typeof(apps) != 'undefined' &&
		   highlights != null && typeof(highlights) != 'undefined' ) {
			window.clearInterval(isLoaded);
			window.router = new AppFinder.Routers.WaterfallAppsRouter({waterfallApps: apps, filters: filters, highlights: highlights });
	   		Backbone.history.start();
		}
	},2000);
    
  });
</script>

</body>
</html>
