<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AppFinder</title>
  <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="assets/mosaic.css">
    <link rel="stylesheet" href="assets/tinybox.css">
    <link rel="stylesheet" href="assets/chosen.css" />
    <link rel="stylesheet" href="assets/jquery-ui-min.css" />    
    <link rel="stylesheet" href="assets/application.css">
    <link rel="stylesheet" href="assets/responsiveSlides.css">
    <link rel="stylesheet" href="assets/flexSlider.css">
    <script src="http://www.youtube.com/iframe_api" type="text/javascript"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<header class="navbar navbar-fixed-top">
        	<div id="site-header-inner" class="navbar-inner">
	        	<div class="container">
	        		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				    </a>
      
		        	<div id="logo" class="brand">
		        		<img src="/assets/img/logo.png" alt="Tappollo" >
		        	</div><!--/#logo -->

	        		<ul id="main-nav" class="nav nav-collapse collapse">
		        		<li class="main-nav-item active">
		        			<a href="#">
		        				Apps
		        			</a>
		        		</li><!--/li -->
		        		<li class="main-nav-item">
		        			<a href="#developers">
		        				Developers
		        			</a>
		        		</li><!--/li -->
	        		</ul><!--/#main-nav -->
	        		
					<form id="main-search" class="navbar-search pull-right">
						<i class="icon-search"></i>
					  <input type="text" id="main-search-query" class="search-query" placeholder="Search">
					</form><!--/#main-search -->
						
						
	        		<ul id="profile" class="nav pull-right">
		        		<li class="profile-item">
		        			<a href="#register">
		        				register
		        			</a>
		        		</li><!--/li -->
		        		<li class="profile-item">
		        			<a href="#login">
		        				login
		        			</a>
		        		</li><!--/li -->
	        		</ul><!--/#profile -->

	        	
	        	</div><!--/.container -->
	        	
        	</div><!--/.navbar-inner -->
        </header><!--/header -->
        
        <div id="stage" class = "clearfix" >
        	<!--  login view -->
        	<div id="login-view" class="stage-view">
        	</div>
        	
        	<div id="developers-view" class="stage-view">
        	
        		<div class="container" id="developers">
        		
        			<div id="developer-id" class="developer">
        			
        				<div class="dev-basicInfo pull-left">
        					<div class="dev-where clearfix">
        						<div class="dev-location pull-left">
        							<i class="icon-map-marker"></i>Chicago, US
        						</div>
        						<div class="dev-distance pull-right">
        							1.5km far from you
        						</div>
        					</div><!--where-->
        					<div class="dev-name">
        						Riktam Technologies<i class="icon-vertified"></i>
        					</div><!--name-->
        					<div class="dev-rate">
        					$10k-15k
        					</div>
        					<div class="dev-desc">
        					We build awesome web and mobile apps. With 150+ successful projects for iOS, Android, Windows Phone, Facebook, the Web & Browser extensions, we know what it takes to build great products. Get in touch with us to discuss how we can partner with you.
        					</div>
        					<div class="clearfix">
	        					<div class="dev-links pull-left">
	        						<a href="" class="icon-like active" title="Like this"></a>
	        						<a href="" class="icon-homepage active" title="Homepage"></a>
	        						<a class="icon-twi" title="Twitter"></a>
	        						<a href="" class="icon-email active" title="Email"></a>
	        						
	             				</div>
	             				<div href="" class="btn btn-info pull-right">Full Profile</div>
        					</div>
        				</div><!--basicInfo-->
        				
        				
        				<div class="dev-stat pull-left">
        					<div class="clearfix">
        						<div class="dev-appNum pull-left">
	        						<big>2</big><small>APPS</small>
        						</div><!--appNum-->
        						<div class="pull-left">
        							<div class="dev-focus">
	        							<span class="dev-statTitle">focus</span>
	        							<span class="dev-statContent"><a href="">Games</a>  <a href="">Lifestyle</a></span>
        							</div><!--focus-->
        							<div class="dev-appRate">
	        							<span class="dev-statTitle">avg</span>
	        							<span class="dev-statContent">5</span>	        
        							</div><!--rate-->
        						</div>
        					</div>
        					<div class="tags">
        						<a class="tag"><i class="icon-tag icon-white"></i> abc</a>
        					</div>
        					<div class="badges">
        						<a class="badge"><i class="icon-certificate icon-white"></i> badge</a>
        					</div>
        				</div><!--stat-->
        				
        				
        				<div class="dev-appsContainer pull-right">
        					<div class="dev-apps">
        						<div class="dev-app">
        							<img class="dev-appLogo" src="assets/appImages/the-cat-in-the-hat-dr.-seuss-logo.jpg" />
        							<div class="dev-appName">The Cat In The Hat</div>
        							<div class="dev-appCat">in <a href="#">Games</a></div>
        							<div class="dev-appPrice btn btn-small">$0.99</div>

        						</div><!--app-->
        					</div><!--apps-->
        				</div><!--appsContainer-->
        				
        			</div><!--/developer-->
        			
        		</div><!--developers-->
        	</div>
        	
        	<!-- register view -->
        	<div id="register-view" class="stage-view"> </div>
        	
        	<div id="detail-view" class="stage-view">
        	</div>
        	<div id="app-view" class="stage-view active">
        	</div><!-- /#app-view -->
        </div> <!-- /stage -->

        <footer>
                <p>&copy; Company 2012</p>
        </footer>
		<div id="loading"></div>
        
<script type="text/javascript">
  $(function() {
	window.router = new AppFinder.Routers.WaterfallAppsRouter();
	window.router.start();    
  });
</script>
</body>
</html>
