<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AppFinder</title>
  <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="assets/mosaic.css">
    <link rel="stylesheet" href="assets/tinybox.css">
    <link rel="stylesheet" href="assets/chosen.css" />
    <link rel="stylesheet" href="assets/jquery-ui-min.css" />    
    <link rel="stylesheet" href="assets/application.css">
    <link rel="stylesheet" href="assets/responsiveSlides.css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<header class="navbar navbar-fixed-top">
        	<div id="site-header-inner" class="navbar-inner">
	        	<div class="container">
	        		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				    </a>
      
		        	<div id="logo" class="brand">
		        		<img src="/assets/img/logo.png" alt="Tappollo" >
		        	</div><!--/#logo -->

	        		<ul id="main-nav" class="nav nav-collapse collapse">
		        		<li class="main-nav-item active">
		        			<a href="#">
		        				Apps
		        			</a>
		        		</li><!--/li -->
		        		<li class="main-nav-item">
		        			<a href="#developers">
		        				Developers
		        			</a>
		        		</li><!--/li -->
	        		</ul><!--/#main-nav -->
	        		
					<form id="main-search" class="navbar-search pull-right">
						<i class="icon-search"></i>
					  <input type="text" id="main-search-query" class="search-query" placeholder="Search">
					</form><!--/#main-search -->
						
						
	        		<ul id="profile" class="nav pull-right">
		        		<li class="profile-item">
		        			<a href="#register">
		        				register
		        			</a>
		        		</li><!--/li -->
		        		<li class="profile-item">
		        			<a href="#login">
		        				login
		        			</a>
		        		</li><!--/li -->
	        		</ul><!--/#profile -->

	        	
	        	</div><!--/.container -->
	        	
        	</div><!--/.navbar-inner -->
        </header><!--/header -->
        
        <div id="stage" class = "clearfix" >
        	<div id="login-view" class="stage-view">
        		<div id="login">
				<form class="form-horizontal">
				  <fieldset>
				  	<legend>Log in</legend>
				    <div class="control-group">
					    <label class="control-label" for="inputEmail">Email</label>
					    <div class="controls">
					      <input type="text" id="inputEmail" placeholder="Email">
					    </div>
					  </div>
					  <div class="control-group">
					    <label class="control-label" for="inputPassword">Password</label>
					    <div class="controls">
					      <input type="password" id="inputPassword" placeholder="Password">
					    </div>
					  </div>
					  <div class="control-group">
					    <div class="controls">
					      <label class="checkbox">
					        <input type="checkbox"> Keep me logged in
					      </label>
					      <button type="submit" class="btn btn-info">Log in</button>
					    </div>
					  </div>
					  <div class="control-group">
					    <label class="control-label"></label>
					    <div class="controls">
					    <p><a href="">Can't access your account?</a></p>
					    </div>
					  </div>				  
				</fieldset>
				</form>
        		</div>
        	</div>
        	<div id="developers-view" class="stage-view">
        		developer
        	</div>
        	<div id="register-view" class="stage-view">
        		<div id="register">
				<form class="form-horizontal">
				  <fieldset>
				  	<legend>Sign up</legend>
				    <div class="control-group">
					    <label class="control-label" for="inputEmail">Email</label>
					    <div class="controls">
					      <input type="text" id="inputEmail" placeholder="Email">
					    </div>
					  </div>
				    <div class="control-group">
					    <label class="control-label" for="inputFirstName">First Name</label>
					    <div class="controls">
					      <input type="text" id="inputFirstName" placeholder="First Name">
					    </div>
					  </div>
					  <div class="control-group">
					    <label class="control-label" for="inputLastName">Last Name</label>
					    <div class="controls">
					      <input type="text" id="inputLastName" placeholder="Last Name">
					    </div>
					  </div>
					  <div class="control-group">
					    <label class="control-label" for="inputPassword">Password</label>
					    <div class="controls">
					      <input type="password" id="inputPassword" placeholder="Password">
					    </div>
					  </div>
					  <div class="control-group">
					    <label class="control-label" for="inputPassword2">Confirm Password</label>
					    <div class="controls">
					      <input type="password" id="inputPassword2" placeholder="Password">
					    </div>
					  </div>
					  <div class="control-group">
					    <div class="controls">
					      <button type="submit" class="btn btn-info">Sign up</button>
					    </div>
					  </div>				  
				</fieldset>
				</form>
        		</div>
        	</div>
        	<div id="detail-view" class="stage-view">
        	</div>
        	<div id="app-view" class="stage-view active">
        	</div><!-- /#app-view -->

        </div> <!-- /stage -->

        <footer>
                <p>&copy; Company 2012</p>
        </footer>
		<div id="loading"></div>
        
<script type="text/javascript">
  $(function() {
	window.router = new AppFinder.Routers.WaterfallAppsRouter();
	window.router.start();    
  });
</script>

</body>
</html>
